{% extends 'base.html.twig' %}

{% block title %}
    OpenForo - Accueil
{% endblock %}

{% block body %}
    <h1>{{ forum.title }}</h1>
    
    <br />

    Les messages s'afficheront ici.

{% endblock %}
