{% extends 'base.html.twig' %}

{% block title %}
    OpenForo - Discussion {{ discussion.title }}
{% endblock %}

{% block body %}
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Posts de la discussion « {{ discussion.title }} »</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            {% for post in discussion.posts %}

                <tr>
                    <td scope="row">
                        {{ post.content | raw }}
                    </td>
                    <td>
                        {{ post.creationDate | date('d/m/Y H:m:s') }}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}
