{% extends 'base.html.twig' %}

{% block title %}
    OpenForo - Nouvelle discussion
{% endblock %}

{% block body %}
    
    <h1>Nouvelle discussion</h1>

    {{ form_start(form) }}

    {{ form_row(form.discussion, {'attr' : {'placeholder' : 'Titre de la discussion'}}) }}

    {{ form_row(form.content, {'attr' : {'placeholder' : 'Message'}}) }}
    
    <button type="submit" class="btn btn-primary">Créer la discussion</button>
    
    {{ form_end(form) }}

{% endblock %}
